<div class="container">
    
        <div class="container-title">Entre</div>
        <br>
        <span class="ui-float-label">
            <input id="user" type="text" size="30" pInputText [(ngModel)]="user"> 
            <label for="user">E-mail</label>
        </span>
        <br>
        <span class="ui-float-label">
            <input id="password" type="text" size="30" pInputText [(ngModel)]="password"> 
            <label for="password">Senha</label>
        </span>
        <br>
        <button routerLink="/menu" class="btn btn-primary" (click)="login()">Entrar</button>
        <br>
        <a  routerLink="/register" routerLinkActive="active" class="register">Não tem um cadastro? Cadastre-se aqui</a>
</div>