<div class="container">
  <span class="title">Lista de candidatos</span>
  <br><br><br>
 
  <p-autoComplete [(ngModel)]="brand" [suggestions]="filteredBrands" (completeMethod)="filterBrands($event)" [size]="30"
      [minLength]="1" placeholder="Hint: type 'v' or 'f'" [dropdown]="true">
      <ng-template let-brand pTemplate="item">
          <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
              <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{brand}}</div>
          </div>
      </ng-template>
  </p-autoComplete>
  <span style="margin-left:50px">Brand: {{brand||'none'}}</span>
</div>

<br><br>
<div class='table'>
<p-table [style]="{width:'80%'}" [columns]="cols" [value]="cars1">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>
</div>

