<app-menu></app-menu>

<div class="container">
  <span class="title">Lista de candidatos</span>
</div>
<div class='table'>
    <p-table [value]="candidateList">
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Partido</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-candidate>
            <tr>
                <td>{{candidate.id}}</td>
                <td>{{candidate.name}}</td>
                <td>{{candidate.surname}}</td>
                <td>{{candidate.party}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

