<div class="container">
    
    <div class="container-title">Registre-se:</div>
    <br>
    <span class="ui-float-label">
        <input id="user" type="text" size="30" pInputText [(ngModel)]="user"> 
        <label for="user">Usuário</label>
    </span>
    <br>
    <span class="ui-float-label">
        <input id="email" type="text" size="30" pInputText [(ngModel)]="email"> 
        <label for="email">E-mail</label>
    </span>
    <br>
    <span class="ui-float-label">
        <input id="password" type="text" size="30" pInputText [(ngModel)]="password"> 
        <label for="password">Senha</label>
    </span>
    <br>
    <button class="btn btn-primary" (click)="register()">Cadastrar</button>
    <button class="btn btn-default" routerLink="/login" >Cancelar</button>
</div>